@{
    ViewBag.Title = "Anasayfa";
}
<div class="jumbotron">
    <h1 class="display-4">Stok Takip <span class="badge badge-secondary">v1.0</span></h1>
    <p class="lead">Yazılım bakımı dersi için geliştirilen bir web uygulamasıdır.</p>
    <hr class="my-4">
    <p>Stok takibi için örnek bir satış yapıp stoğun düştüğünü test edip, panelden tekrar stok ekleyebilirsiniz.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Satış Yap</a>
</div>